body {
    background-image: url('https://github.com/InfinityPlayz9/rail-chomptopia/blob/main/Assets/GHC.png?raw=true');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }